<Files ~ "\.(tpl|cache|db|sql|log)$">
	<IfModule authz_core_module>
		Require all denied
	</IfModule>
	<IfModule !authz_core_module>
		Deny from all
	</IfModule>
</Files>
<FilesMatch "(LICENSE|\.txt|\.md)$">
	Header set Content-Type "text/plain; charset=UTF-8"
</FilesMatch>
<IfModule mod_rewrite.c>
	RewriteEngine On
	Options -Indexes
	DirectoryIndex index.php index.html
	RewriteBase /
	RewriteRule ^assets/(.+)$ template/default/assets/$1 [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [PT,L]
</IfModule>
