<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>订单管理-{$site_config['site_title']}</title>
  <meta content="{$site_config['site_description']}" name="description">
  <meta content="{$site_config['site_keywords']}" name="keywords">
  <meta property="og:site_name" content="{$site_config['site_name']}">
  <meta property="og:title" content="{$site_config['site_title']}">
  <meta property="og:description" content="{$site_config['site_description']}">
  <meta property="og:type" content="website">
  <meta property="og:image" content=""><!-- link to image for socio -->
  <meta property="og:url" content="">

  {template tpl_header_source.html}
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body>
    {template tpl_header.html}

    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          {template member-left.html}

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <div class="content-page">
            	{if( $member_orders )}
            	{loop $member_orders $k $v}
            	<div class="panel panel-info">
            		<div class="panel-heading">
            			<h5 class="panel-title">
            				编号：{$v['orders_sn']}&nbsp;&nbsp;
            				时间：{php}echo date('Y-m-d H:i:s', $v['orders_info']['atime']);{/php}&nbsp;&nbsp;
            				物流编号：<a href="https://www.baidu.com/s?wd={$v['orders_info']['tracking_no']}" target="_blank">{$v['orders_info']['tracking_no']?$v['orders_info']['tracking_no']:'-'}</a>&nbsp;&nbsp;
            				<span class="pull-right">
            					{if($v['orders_info']['status']==0)}
            					<a href="shopping-checkout.html?orders_id={$v['orders_info']['orders_id']}" target="_blank" class="">立即结算</a>
            					{/if}
            				</span>
            			</h5>
            		</div>
            		<div class="panel-body">
            			<table class="table table-bordered">
            				<tr>
            					<th>商品</th>
            					<th>单价</th>
            					<th>数量</th>
            					<th>金额</th>
            					<th>合计</th>
            					<th>状态</th>
            				</tr>
            				{loop $v['goods_info'] $k1 $v1}
            				<tr>
            					<td>{$v1['goods_name']}</td>
            					<td>${$v1['goods_price']}</td>
            					<td>{$v1['goods_num']}</td>
            					<td>${php}echo round($v1['goods_price']*$v1['goods_num'], 4);{/php}</td>
            					{if($k1==0)}
            					<td rowspan="{php}echo count($v['goods_info']);{/php}">${$v['orders_info']['orders_money']}</td>
            					<td rowspan="{php}echo count($v['goods_info']);{/php}">{$v['orders_info']['status_name']}</td>
            					{/if}
            				</tr>
            				{/loop}
            				{if($v['orders_info']['address'])}
            				<tr><td colspan="6">
            					收货信息：{$v['orders_info']['address']['username']} ({$v['orders_info']['address']['phone']}) {$v['orders_info']['address']['address']}
            				</td></tr>
            				{/if}
            			</table>
            		</div>
            	</div>
            	{/loop}
            	{else}
            	未查找到您的订单！
            	{/if}
          	</div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

    {template tpl_brands.html}

    {template tpl_steps.html}

    {template tpl_footer.html}

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script><!-- pop up -->
    <script type="text/javascript" src="assets/plugins/bxslider/jquery.bxslider.min.js"></script><!-- slider for products -->
    <script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initUniform();
            App.initBxSlider();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>