<!-- BEGIN SIDEBAR -->
<div class="sidebar col-md-3 col-sm-3">
	<ul class="list-group margin-bottom-25 sidebar-menu">
	  <li class="list-group-item clearfix"><a href="member-account.html"><i class="fa fa-angle-right"></i> 基本信息</a></li>
	  <li class="list-group-item clearfix"><a href="member-address.html"><i class="fa fa-angle-right"></i> 收货地址</a></li>
	  <li class="list-group-item clearfix dropdown">
	  	<a href="javascript:;" class="collapsed"><i class="fa fa-angle-right"></i> 订单管理<i class="fa fa-angle-down"></i></a>
	  	<ul class="dropdown-menu" style="display:block;">
	  		<li class="list-group-item dropdown "><a href="member-orders.html"><i class="fa fa-angle-right"></i> 所有订单</a></li>
	  		<li class="list-group-item dropdown "><a href="member-orders.html"><i class="fa fa-angle-right"></i> 未完成</a></li>
	  		<li class="list-group-item dropdown "><a href="member-orders.html"><i class="fa fa-angle-right"></i> 交易中</a></li>
	  		<li class="list-group-item dropdown "><a href="member-orders.html"><i class="fa fa-angle-right"></i> 已完成</a></li>
	  		<li class="list-group-item dropdown "><a href="member-orders.html"><i class="fa fa-angle-right"></i> 已取消</a></li>
	  	</ul>
	  </li>
	  <li class="list-group-item clearfix"><a href="member-msg.html"><i class="fa fa-angle-right"></i> 留言管理</a></li>
	</ul>
</div>
<!-- END SIDEBAR -->