	<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>关于我们</h2>
        <p>GIRDEAR·哥弟，源自于中国台湾，创始于公元1997年。秉持将心比心、相辅相成的团队观，及物有所值的诚信经营理念，以都会女性全方位路线为定位，专注于制作多元化高端精品女装。</p>
        <p>官方商城向您保证所售商品均为哥弟正品，并可提供正规发票，与您亲临实体商场选购的商品享有同样的品质保证。</p>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->
      <!-- BEGIN BOTTOM INFO BLOCK -->
      <div class="col-md-2 col-sm-6 pre-footer-col">
        <h2>Information</h2>
        <ul class="list-unstyled letter-spacing-3">
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">物流信息</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">客户服务</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">订单跟踪</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">退货流程</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="contacts.html">联系我们</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">关于我们</a></li>
          <li><i class="fa fa-angle-right"></i> <a href="javascript:;">支付方式</a></li>
        </ul>
      </div>
      <!-- END INFO BLOCK -->
      <!-- BEGIN TWITTER BLOCK --> 
      <div class="col-md-4 col-sm-6 pre-footer-col">
        <h2>Latest Tweets</h2>
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
            <a href="javascript:;">@ebers</a> 工作太累、薪水有限、房价太贵、高跟鞋太累……现实的烦恼太多，做女王太难！
            <span>3 min ago</span>
          </dd>
        </dl>                    
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
          	<a href="javascript:;">@ebers</a> 《大咖访谈 | 独立设计师品牌如何向品牌化发展？专访REINEREN创始人及品牌设计师任茜》
          	<span>3 min ago</span>
          </dd>
        </dl> 
        <dl class="dl-horizontal f-twitter">
          <dt><i class="fa fa-twitter"></i></dt>
          <dd>
            <a href="javascript:;">@ebers</a> The Fashion Shop《服装店》作为展会的特邀媒体亲临现场，为大家带来了最新的现场资讯。
            <span>3 min ago</span>
          </dd>
        </dl>           
      </div>
      <!-- END TWITTER BLOCK -->
      <!-- BEGIN BOTTOM CONTACTS -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Our Contacts</h2>
        <address class="margin-bottom-40">
          {$site_config['site_address']}<br>
          Tel: {$site_config['tel']}<br>
          Fax: {$site_config['fax']}<br>
          Email: <a href="mailto:{$site_config['email']}">{$site_config['email']}</a><br>
          Skype: <a href="qq:{$site_config['qq']}">{$site_config['qq']}</a>
        </address>
      </div>
      <!-- END BOTTOM CONTACTS -->
    </div>
    <hr>
    <div class="row">
      <!-- BEGIN SOCIAL ICONS -->
      <div class="col-md-6 col-sm-6">
        <ul class="social-icons">
          <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>
          <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
          <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
          <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
          <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
          <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>
          <li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>
          <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>
        </ul>
      </div>
      <!-- END SOCIAL ICONS -->
      <!-- BEGIN NEWLETTER -->
      <div class="col-md-6 col-sm-6">
        <div class="pre-footer-subscribe-box pull-right">
          <h2>订阅</h2>
          <form action="#">
            <div class="input-group">
              <input type="text" placeholder="likun.work@qq.com" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">订阅</button>
              </span>
            </div>
          </form>
        </div> 
      </div>
      <!-- END NEWLETTER -->
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer padding-top-15">
  <div class="container">
    <div class="row">
      <!-- BEGIN COPYRIGHT -->
      <div class="col-md-6 col-sm-6 padding-top-10">
        {php}echo date('Y');{/php} © likun.work ALL Rights Reserved. 
        <span>此站点基于<a href="//esite.likun.work/" target="_blank">ECMS</a>开发</span>
      </div>
      <!-- END COPYRIGHT -->
      <!-- BEGIN PAYMENTS -->
      <div class="col-md-6 col-sm-6">
        <ul class="list-unstyled list-inline pull-right margin-bottom-15">
          <li><img src="assets/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
          <li><img src="assets/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
        </ul>
      </div>
      <!-- END PAYMENTS -->
    </div>
  </div>
</div>
<!-- END FOOTER -->

<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>  
<![endif]-->  
<script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>      
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jQuery-slimScroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="assets/scripts/template.js"></script>
<script type="text/javascript" src="assets/scripts/ecms.js?t={php}echo time();{/php}"></script>
<script type="text/javascript" src="assets/scripts/app.js?t={php}echo time();{/php}"></script>
<!-- END CORE PLUGINS -->
