	<!-- BEGIN STEPS -->
    <div class="steps3 steps3red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps3-col letter-spacing-3">
            <i class="fa fa-truck"></i>
            <div>
              <h2>免费配送</h2>
              <em>快递3天送达</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps3-col letter-spacing-3">
            <i class="fa fa-gift"></i>
            <div>
              <h2>日常礼品</h2>
              <em>每天随机抽取3名幸运顾客</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps3-col letter-spacing-3">
            <i class="fa fa-phone"></i>
            <div>
              <h2>400 666 6666</h2>
              <em>7*24小时客服在线咨询服务</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->