<!-- BEGIN fast view of a product -->
<div id="product-pop-up" style="display: none; width: 700px;">
        <div class="product-page product-pop-up">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-3">
              <div class="product-main-image">
                <img src="" alt="" class="img-responsive">
              </div>
              <div class="product-other-images">
                <a href="#" class="active"><img alt="" src=""></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-9">
              <h1 class="product-title"></h1>
              <div class="price-availability-block clearfix">
                <div class="price">
                  <strong><span class="currency">￥</span><span class="money">0.00</span></strong>
                  <em><span class="currency">￥</span><span class="money">0.00</span></em>
                </div>
                <div class="availability">
                  	库存状态: <strong>正常</strong>
                </div>
              </div>
              <div class="description">
                <p>...</p>
              </div>
              <div class="product-page-options">
                <div class="pull-left">
                  <label class="control-label">Size:</label>
                  <select class="form-control input-sm">
                    <option>L</option>
                    <option>M</option>
                    <option>XL</option>
                  </select>
                </div>
                <div class="pull-left">
                  <label class="control-label">Color:</label>
                  <select class="form-control input-sm">
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Black</option>
                  </select>
                </div>
              </div>
              <div class="product-page-cart">
                <div class="product-quantity">
                    <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
                </div>
                <button class="btn btn-primary">加入购物车</button>
                <a href="#" class="btn btn-default more-details">查看详情</a>
              </div>
            </div>
            <div class="sticker sticker-sale"></div>
          </div>
        </div>
</div>
<!-- END fast view of a product -->
