<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>开源授权许可协议 | MicroCMS企业网站管理系统</title>
<link href="https://www.douphp.com/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="page" style="padding:2em; font-size:13px;">
		<h1>MicroCMS开源授权许可协议</h1>
		<div class="content">
		<p>
    	<br />
    	<strong>&copy; 2016-2019 深圳市龙岗区立坤网络工作室。保留所有权利。</strong><br /><br />
    	感谢您选择MicroCMS企业网站管理系统（以下简称MicroCMS），MicroCMS提供一个轻量级企业网站解决方案，基于 PHP + [MySQL/Sqlite] 的技术开发，整个系统压缩为单个PHP文件，全部源码开放。<br />
    	为了使您正确并合法的使用本软件，请您在使用前务必阅读清楚下面的协议条款： <br /><br />
    	<strong>一、本授权协议适用且仅适用于 MicroCMS 所有版本，MicroCMS官方对本授权协议拥有最终解释权。</strong><br /><br />
    	<strong>二、协议许可的权利</strong><br />
    	1.您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于商业用途，而不必支付软件版权授权费用。<br />
    	2.您可以在协议规定的约束和限制范围内修改 MicroCMS 源代码或界面风格以适应您的网站要求。<br />
    	3.您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。<br />
    	4.获得商业授权之后，您可以去除MicroCMS的版权信息，同时依据所购买的授权类型中确定的技术支持内容，自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。<br /><br />
    	<strong>三、协议规定的约束和限制</strong><br />
    	1.未获商业授权之前，不得删除网站底部及相应的官方版权信息和链接。MicroCMS 作为永久开源软件，同时在 github.com 与 gitee.com 公开源代码。购买商业授权请登陆esite.likun.work了解最新说明。<br />
    	2.未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。<br />
    	3.不管您的网站是否整体使用 MicroCMS ，还是部份栏目使用 MicroCMS，在您网站页面页脚处的 Powered by MicroCMS 名称和 http://esite.likun.work 的链接都必须保留且不能修改。<br />
    	4.未经官方许可，禁止在 MicroCMS 的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于重新分发。<br />
    	5.如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。<br /><br />
    	<strong>四、有限担保和免责声明</strong><br />
    	1.本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。<br />
    	2.用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺对免费用户提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。<br />
    	3.电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本协议并安装MicroCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。<br />
    	4.如果本软件带有其它软件的整合API示范例子包，这些文件版权不属于本软件官方，并且这些文件是没经过授权发布的，请参考相关软件的使用许可合法的使用。<br /><br />
    	MicroCMS 的官方网址是：esite.likun.work
		</p>
		</div>
	</div>
</div>
</body>
</html>