{layout layout_main.html}
<?php
	$admin_user = Admin::run()->admin_data();
?>
<h3><a href="manager.html" class="actionBtn">返回列表</a>网站管理员</h3>
<form action="" method="post" onsubmit="ajaxForm(this,callback_ajax,true);return false;">
	<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
		<tbody>
			<tr>
				<td width="100" align="right">管理员名称</td>
				<td>
					<input type="text" name="form[user_name]" value="{$admin_user['user_name']}" size="40" class="inpMain">
				</td>
			</tr>
			<tr>
				<td width="100" align="right">E-mail地址</td>
				<td>
					<input type="text" name="form[email]" value="{$admin_user['email']}" size="40" class="inpMain">
				</td>
			</tr>
			{if $admin_user['user_id']}
			<tr>
				<td align="right">旧密码</td>
				<td>
					<input type="password" name="old_password" value="" size="40" class="inpMain">
				</td>
			</tr>
			{/if}
			<tr>
				<td align="right">新密码</td>
				<td>
					<input type="password" name="password" value="" size="40" class="inpMain">
				</td>
			</tr>
			<tr>
				<td align="right">确认新密码</td>
				<td>
					<input type="password" name="password_confirm" value="" size="40" class="inpMain">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="hidden" name="act" value="admin/admin_save">
					<input type="hidden" name="id" value="{$admin_user['user_id']}">
					<input type="submit" name="submit" class="btn" value="提交">
				</td>
			</tr>
		</tbody>
	</table>
</form>
