{layout layout_main.html}
<h3><a href="manager_edit.html" class="actionBtn">添加管理员</a>网站管理员</h3>
<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
	<tbody>
		<tr>
			<th width="30" align="center">编号</th>
			<th align="left">管理员名称</th>
			<th align="center">E-mail地址</th>
			<th align="center">添加时间</th>
			<th align="center">最后登录时间</th>
			<th align="center">操作</th>
		</tr>
		{loop Admin::run()->admin_list() $k $v}
		<tr data-id="{$v['user_id']}">
			<td align="center">{$k+1}</td>
			<td>{$v['user_name']}</td>
			<td align="center">{$v['email']?$v['email']:'--'}</td>
			<td align="center">{date('Y-m-d', $v['add_time'])}</td>
			<td align="center">{date('Y-m-d', $v['last_login'])}</td>
			<td align="center">
				<a href="manager_edit.html?id={$v['user_id']}">编辑</a> |
				<a href="javascript:;" onclick="delete_row('admin',{$v['user_id']})">删除</a>
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
