{layout layout_main.html}
<h3>文章列表<a href="article_edit.html" class="actionBtn add">添加文章</a></h3>
<div class="filter">
	<form action="article.html" method="get">
		<select name="cat_id">
			<option value="">-所有分类-</option>
			{loop Admin::run()->article_categorys() $k $v}
			<option value="{$v['cat_id']}" {$_REQUEST['cat_id']==$v['cat_id']?'selected="selected"':''}>{$v['unique_id']}</option>
			{/loop}
		</select>
		<input name="keyword" type="text" class="inpMain" value="{$_REQUEST['keyword']}" size="20">
		<input class="btnGray" type="submit" value="筛选">
	</form>
</div>
<div id="list">
	<form name="action" method="post" action="article.html">
		<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
			<tbody>
				<tr>
					<th width="40" align="center">编号</th>
					<th align="left"></th>
					<th width="150" align="center">文章分类</th>
					<th width="80" align="center">添加日期</th>
					<th width="80" align="center">操作</th>
				</tr>
				{loop Admin::run()->article_list() $k $v}
				<tr data-id="{$v['id']}">
					<td align="center">{$v['id']}</td>
					<td><a href="{$v['uri']}" target="_blank">{$v['title']}</a></td>
					<td align="center">
						<a href="article.html?cat_id={$v['cat_id']}">{$v['category_info']['cat_name']}</a>
					</td>
					<td align="center">{date('Y-m-d', isset($v['add_time'])?$v['add_time']:$v['edit_time'])}</td>
					<td align="center">
						<a href="article_edit.html?id={$v['id']}" target="_blank">编辑</a> |
						<a href="javascript:;" onclick="delete_row('article',{$v['id']})">删除</a>
					</td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</form>
</div>
<div class="clear"></div>
<?php $pager_data = EsiteApp::app()->pager_data();?>
<div class="pager">{$pager_data['summary_code']}{$pager_data['code']}</div>