<base href="{Esite::app()->baseurl}/admin/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Copyright" content="likun.work" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="js/jquery.tab.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/PHPjs.js?t=2020.06.03"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/global.js"></script>