<base href="{Esite::app()->baseurl}/admin/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Copyright" content="likun.work" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/public.css?t=0.0.7" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="js/jquery.tab.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/PHPjs.js?t=2020.06.03"></script>
<script type="text/javascript" src="js/index.js?_=2021.12.23"></script>
<script type="text/javascript" src="js/global.js?_=2022.03.01"></script>
<!--baidu analytics-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?fe892ab7a98c89e59d5650c5fe0d5e80";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--/baidu analytics-->
<!--google analytics-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35760284-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-35760284-2');
</script>
<!--/google analytics-->