<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	<head>
		<title>管理中心登录-{$site_config['site_name']}</title>
		{template header.html}
	</head>
	<body>
		<div id="login">
			<h1>企业网站管理系统</h1>
			<form action="login.html" method="post" onsubmit="ajaxForm(this,admin_login,false);return false;">
				<input type="hidden" name="act" value="admin/login">
				<div class="form">
					<div class="basicBox">
						<dl>
							<dt>用户名</dt>
							<dd><input type="text" name="username" class="input"></dd>
						</dl>
						<dl>
							<dt>密码</dt>
							<dd><input type="password" name="password" class="input"></dd>
						</dl>
						<dl>
							<dt>验证码</dt>
							<dd>
								<input type="text" name="captcha" class="input pull-left" style="width:200px;">
								<a onclick="_ajax('/?act=admin/login&send_checkcode=1', {username:$('[name=username]').val(), password:$('[name=password]').val()}, 'POST')" class="btn pull-right" style="padding:5px 5px;width:100px;color: #fff;">获取邮件验证码</a>
								<div class="clearfix"></div>
							</dd>
						</dl>
					</div>
					<div class="btnBox">
						<input type="submit" name="submit" class="btn" value="登录">
						<div class="action">忘记密码？
							<a href="password_reset.html">立即找回</a>
						</div>
					</div>
					<div class="linkBox">
						<a href="license.html" target="_blank">使用协议</a>
						<a href="/">返回首页</a>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>