{layout layout_main.html}
<h3>会员留言</h3>
<div id="list">
	<form name="action" method="GET" action="">
		<input type="submit" value="搜索" style="display:none;" />
		<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
			<tbody>
				<tr>
					<th width="40" align="center">#</th>
					<th width="150" align="center">会员</th>
					<th width="130" align="center">时间</th>
					<th width="" align="left">主题</th>
					<th width="40" align="center"></th>
				</tr>
				<tr style="background: #fff;">
					<td></td>
					<td class="no-padding"><input type="text" name="email" value="{$_REQUEST['email']}" placeholder="..."></td>
					<td></td>
					<td class="no-padding"><input type="text" name="title" value="{$_REQUEST['title']}" placeholder="..."></td>
					<td></td>
				</tr>
				{loop Admin::run()->member_msg() $k $v}
				<tr data-id="{$v['id']}" title="#{intval($k+1)}">
					<td align="center">{$v['id']}</td>
					<td align="center">{$v['email']}</td>
					<td align="center">{date('Y-m-d H:i:s', $v['atime'])}</td>
					<td align="left">{$v['title']}</td>
					<td><a href="/admin/msg_info.html?id={$v['id']}">查看</a></td>
				</tr>
				{/loop}
			</tbody>
		</table>
	</form>
</div>
<div class="clear"></div>
<?php $pager_data = EsiteApp::app()->pager_data();?>
<div class="pager">{$pager_data['summary_code']}{$pager_data['code']}</div>