{layout layout_main.html}
<h3>商品分类<a href="product_category_edit.html" class="actionBtn add">添加分类</a></h3>
<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
	<tbody>
		<tr>
			<th width="120" align="left">分类名称</th>
			<th align="left">层级关联</th>
			<th align="left">标题</th>
			<th align="left">关键词</th>
			<th width="60" align="center">排序</th>
			<th width="80" align="center">操作</th>
		</tr>
		{loop Admin::run()->product_categorys() $k $v}
		<tr data-id="{$v['cat_id']}">
			<td align="left"><a href="product.html?cat_id={$v['cat_id']}">{$v['cat_name']}</a></td>
			<td>{$v['relation_str']}</td>
			<td>{$v['title']}</td>
			<td>{$v['keywords']}</td>
			<td align="center">{$v['sort']}</td>
			<td align="center">
				<a href="product_category_edit.html?cat_id={$v['cat_id']}">编辑</a> |
				<a href="javascript:;" onclick="delete_row('product_category',{$v['cat_id']})">删除</a>
			</td>
		</tr>
		{/loop}
	</tbody>
</table>
