{layout layout_main.html}
<div id="theme">
	<h3>设置模板</h3>
	<ul class="tab">
		<li><a href="theme.html">管理模板</a></li>
		<li><a href="theme_install.html" class="selected">获取更多模板</a></li>
	</ul>
	<div class="selector"></div>
	<div class="cloudList themeList">
		{loop Admin::run()->template_list() $name $template}
		<dl>
			<p><img src="{$template['logo']}" width="280" height="175"></p>
			<dt>{$template['title']}</dt>
			<dd>平台：{$template['device']}
				{if $name!=$site_config['site_theme']}
				<a class="pull-right" href="javascript:;">启用模板</a>
				{/if}
			</dd>
			<dd>关键词：{$template['keywords']}</dd>
			<dd>简介：{$template['description']}</dd>
		</dl>
		{/loop}
	</div>
	<div class="pager"></div>
</div>